@tailwind base;
@tailwind components;
@tailwind utilities;

.header_button {
  transition: all 0.3s ease-in-out;
}

.tool {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.tool:hover {
  transform: scale(1.5);
}

.tool-text {
  display: none;
  position: absolute;
  bottom: -30px; /* adjust this value based on your needs */
  padding: 5px;
  border-radius: 5px;
}

.tool:hover .tool-text {
  display: block;
}

.tool-text-active {
  display: block;
}